<div id="header">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading" href="#">
      <img class="pure-img" src="{{ site.url }}/static/img/logo.png" alt="TEDx logo">
    </a>
    <ul>
      <li class="active"><a href="{{ site.url }}/">Home</a></li>
      <li><a href="{{ site.url }}/about">About</a></li>
      <li><a href="{{ site.url }}/news">News</a></li>
      <li><a href="{{ site.url }}/guest">Guest</a></li>
      <li><a href="{{ site.url }}/volunteer">Volunteer</a></li>
    </ul>
    <form class="pure-form is-inline pure-hidden-lg pure-hidden-md pure-hidden-sm pure-hidden-xs" action="search">
      <input class="pure-input-rounded" type="text" placeholder="Search">
    </form>
  </div><!-- pure menu -->
</div>
