/* Base */
body {
    font-family: "Verdana", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

/* Layout */

#header {
    max-width: 1297px;
    margin: 0 auto;
    text-align: center;
}

#footer {
    max-width: 1279px;
    margin: 0 auto;
    text-align: center;
}

#footer li {
    padding: 20px 10px;
}

/* Status */

.text-center {
    text-align: center;
}

.is-inline {
    display: inline-block;
}

.vertical-middle {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.is-centered {
    margin: auto;
}

.is-black {
    background-color: black;
    color: white;
}

.is-gray {
    background-color: #c8c7c7;
}

.is-light-gray {
    background-color: #d9d8d8;
}

/* Modules */

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.slide {
    max-width: 1279px;
    position: relative;
}

.slide-img {
    margin-top: 120px;
    margin-bottom: 120px;
}

.slide-half {
    position: relative;
}

.slide-text {
    font-family: "Verdana", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-align: left;
    padding: 0 70px;
}

.slide-text h3 {
    color: #b10808;
    font-weight: bold;
}

.slide-text p {
    line-height: 1.8em;
}

.slide-left {
    padding: 0 50px 0 140px;
}

.slide-right {
    padding: 0 140px 0 50px;
}

.pure-menu li {
    padding: 40px 10px;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background-color: #ffd9d3;
}

.pure-menu-horizontal {
    width: 1024px;
    margin: auto;
}

/* Responsive */

/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}
