<!DOCTYPE html>
<html lang="zh">

  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="container">
      <div class="row guest">
        <div class="col-md-4 title">
          <div class="name">{{page.name}}</div>
          <div class="job">{{page.job}}</div>
        </div>
        <div class="col-md-8 detail">{{content}}</div>
      </div>
      <div class="row intro-video">
        <embed height="525" align="middle" width="100%" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="never" swliveconnect="true" devicefont="true" wmode="transparent" quality="high" src="http://player.youku.com/player.php/Type/Folder/Fid/23596155/Ob/1/sid/XNTk4OTE0MTg0/v.swf">
      </div>
      <div id="ds-thread" class="ds-thread" data-url="{{ page.url }}" data-title="{{ page.title }}" data-thread-key="{{ page.url }}"></div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
